<mat-card>
    <mat-card-header>
        <mat-card-title>Example homepage</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>This site can be used to control an IoT device. To control the device, you need to be logged in.</p>
        <p>To log in, click on the "Form" button in the toolbar and enter your username. The device you want to control can be set by entering the device IP in the form.</p>
        <p>After logging in, you can control the device by clicking on the "Control" button in the toolbar.</p>
    </mat-card-content>
</mat-card>