mat-card{
    margin: 25px;
    text-align: center;
}

mat-form-field{
    width: 50%;
}

button{
    width: 50%;
}

mat-expansion-panel{
    text-align: left;
}

.icon{
    margin-right: 5px;
}

.lock{
    width: 100%;
    font-size: 15em;
}